- content_for :title do
  New Game

#colors
  - @game.colors.each do |color|
    .cell{class: color}
      = color
#notice
  %br

  - @game.mastermind.guesses.each do |guess|
    = guess
    %br

  %br
  = form_for :guess, {url: mastermind_guess_path }do |f|
    = f.label :guess
    - @game.size_of_code.times do |s|
      = f.text_field(s.to_s, {size: 1})
    %br
    = f.submit "do"

- if @game.solved
  SOLVED!
  %br
  = @game.mastermind.code


#log