- content_for :title do
  Mastermind - play...
.master
  = render partial: "secret_code", locals: {hidden: true}
.solver
  = render "board"
  .left
    Neuer Versuch:
  .right
    = form_for :put, {url: mastermind_put_path }do |f|
      - if @game.type == Game::COMPUTER_MENSCH
        .bank
          - @game.board.num_of_elements.times do |i|
            .cell.target{id: "pos_#{i}"}
          .space
          - @game.game_spec.colors.each do |color|
            .cell.draggable{style: "background-color: #{color}", color: color}
        - @game.board.num_of_elements.times do |s|
          = f.hidden_field(s.to_s, {size: 1})
      = f.submit "knacken"
= render "internal_infos"
