- content_for :title do
  Admin

= link_to "Delete Instances", admin_delete_game_instances_path
%br
= link_to "Mastermind", mastermind_path
%br

laufende Spiele
%ul
  - @admin.running.each do |game|
    = render partial: "game", locals: {game: game}
gelöste Spiele
%ul
  - @admin.solved.each do |game|
    = render partial: "game", locals: {game: game}

noch gar nicht gestartete Spiele
%ul
  - @admin.not_started.each do |game_instance|
    %li
      = game_instance.id
